@import "../../../style/variables.module.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;


  @media screen and (max-width: $sizeMB) {
    flex-direction: column;
  }
}
