@import "../../../style/variables.module.scss";
@import "../../../style/mixins.scss";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  color: $greyText;
  padding: 2rem;
  &Title {
    font-size: $textSmall;
  }
  &List {
      color: $green;
    &Item {
      position: relative;
      @include animatedHover($greenHover);
      margin-bottom: 0.5rem;
      cursor: pointer;
    }
  }
}
