@import "../../../../style/variables.module.scss";
@import "../../../../style/mixins.scss";

.nav {
  display: flex;
  gap: 1rem;
  padding: 1rem;

  &Item {
    text-transform: capitalize;
    font-size: 1.2rem;
    position: relative;

    @media screen and (max-width: $sizeMB) {
      font-size: $textMedium;
    }
  }

  &Link {
    @include animatedHover($green);
  }

  &Name {
    color: $grey;
  }

  @media screen and (max-width: $sizeMB) {
    width: 100%;
    justify-content: space-around;
  }
}
